body {
    background-color: #fafafa;
    font-size: 13px;
}
.box-style{
    border : 1px solid #dddddd;
    padding : 10px;
    background : #ffffff;
}

hr{
    border: 0;
    border-bottom: 1px solid #cccccc;
}